@use 'sass:math';
$filter-range: 4px;

// color palette
$palette: (
  "colors": ("slate": #64748b,
    "gray": #6b7280,
    "zinc": #71717a,
    "neutral": #737373,
    "stone": #78716c,
    "red": #ef4444,
    "orange": #f97316,
    "amber": #f59e0b,
    "yellow": #eab308,
    "lime": #84cc16,
    "green": #22c55e,
    "emerald": #10b981,
    "teal": #14b8a6,
    "cyan": #06b6d4,
    "sky": #0ea5e9,
    "blue": #3b82f6,
    "indigo": #6366f1,
    "violet": #8b5cf6,
    "purple": #a855f7,
    "fuchsia": #d946ef,
    "pink": #ec4899,
    "rose": #f43f5e,
    "black": #000000,
    "white": #ffffff,
  ),
  "alpha": ("5":.5, "10":1, "15":1.5, "20":2, "25":2.5, "30":3, "35":3.5, "40":4, "45":4.5, "50":5, "55":5.5, "60":6, "65":6.5, "70":7, "75":7.5, "80":8, "85":8.5, "90":9, "95":9.5, "100":10),
  ) !default;

//
$backdrops: (
  "backdrop-none": none,
  "backdrop-sepia": sepia(.4),
  "backdrop-invert": invert(.7),
  "backdrop-opacity": opacity(.4),
  "backdrop-contrast": contrast(.8),
  "backdrop-saturate": saturate(1.8),
  "backdrop-grayscale": grayscale(1),
  "backdrop-brightness": brightness(1.5),
  "backdrop-hue-rotate": hue-rotate(120deg),
  "backdrop-drop-shadow": drop-shadow(4px 4px 10px blue),
);

$filter: (
  "default": blur($filter-range * 2),
  "0": blur($filter-range * 0),
  "xs": blur(math.div($filter-range, 2)),
  "sm": blur($filter-range),
  "md": blur($filter-range * 3),
  "lg": blur($filter-range * 4),
  "xl": blur($filter-range * 5),
  "2xl": blur($filter-range * 10),
);

//width
$max-width: (
  "1": none,
  "xs": 20rem,
  "sm": 24rem,
  "md": 28rem,
  "lg": 32rem,
  "xl": 36rem,
  "2xl": 42rem,
  "3xl": 48rem,
  "4xl": 56rem,
  "5xl": 60rem,
  "6xl": 72rem,
  "7xl": 80rem,
  "8xl": 90rem,
  ) !default;

$aspect-ratio: (
  "square": ("x":1, "y":1),
  "video": ("x":16, "y":9),
  "4-3": ("x":4, "y":3)
);
// borders
$base-border-radius: 1.5rem !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0 0 0/.1) !default;
$position: absolute, fixed, relative, static, sticky;
$overflow: auto, hidden, scroll, visible;
$style: dotted, dashed, solid, none;
$text-transform: (
  "normal-case": none,
  "uppercase": uppercase,
  "lowercase": lowercase,
  "capitalize": capitalize,
);
$line-clamp: 2, 3;

$font-weight: (
  "regular": 400,
  "medium": 500,
  "bold": 800,
  "heavy": 900) !default;

$utilities: (
  "opacity": ("prefix": "o",
    "values": ("10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "resize": ("prefix": "resize",
    "values": ("none": none,
      "x": horizontal,
      "y": vertical,
      "default": both,
    ),
  ),
  "object-fit": ("prefix": "object",
    "values": ("none": none,
      "contain": contain,
      "cover": cover,
      "fill": fill,
      "scale-down": scale-down,
    ),
  ),

  "user-select": ("prefix": "select",
    "values": ("none": none,
      "auto": auto,
      "all": all,
      "text": text,
    ),
  ),
  "border-radius": ("prefix": "rounded",
    "values": ("none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "md": $base-border-radius,
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "white-space": ("prefix": "whitespace",
    "values": ("normal": normal,
      "nowrap": nowrap,
      "pre": pre,
      "pre-line": pre-line,
      "pre-wrap": pre-wrap,
    ),
  ),
  "display": ("prefix": "display",
    "values": ("hidden": none,
      "contents": contents,
      "inline": inline,
      "block": block,
      "inline-block": inline-block,
      "flex": flex,
      "inline-flex": inline-flex,
      "grid": grid,
      "inline-grid": inline-grid,
    ),
  ),
  "text-align": ("prefix": "text",
    "values": ("center": center,
      "justify": justify,
      "left": left,
      "right": right,
    ),
  ),
  "font-size": ("prefix": "text",
    "values": ("xs": px-to-rem(12px),
      "sm": px-to-rem(14px),
      "md": px-to-rem(17px),
      "lg": px-to-rem(19px),
      "xl": fluid(30px, 38px),
      "2xl": fluid(36px, 50px),
      "3xl": fluid(36px, 62px),
      "logo": fluid(22px, 26px),
    ),
  )
);

$grid-utilities: (
  "flex-direction": ("prefix": "flex",
    "values": ("col":column,
      "col-reverse":column-reverse,
      "row":row,
      "row-reverse":row-reverse,
    ),
  ),
  "flex-wrap": ("prefix": "flex",
    "values": ("nowrap":nowrap,
      "wrap":wrap,
      "wrap-reverse":wrap-reverse,
    ),
  ),
  "align-items": ("prefix": "items",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "stretch":stretch,
      "baseline":baseline,
    ),
  ),
  "align-content": ("prefix": "content",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "between":space-between,
      "around":space-around,
      "stretch":stretch,
    ),
  ),
  "align-self": ("prefix": "self",
    "values": ("auto":auto,
      "start":flex-start,
      "end":flex-end,
      "center":center,
      "baseline":baseline,
      "stretch":stretch,
    ),
  ),
  "justify-content": ("prefix": "justify",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "between":space-between,
      "around":space-around,
      "evenly":space-evenly,
    ),
  ),
  "justify-items": ("prefix": "justify-items",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "stretch":stretch,
    ),
  ),
  "place-content": ("prefix": "place-content",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "between":space-between,
      "around":space-around,
      "evenly":space-evenly,
      "stretch":stretch,
    ),
  ),
  "place-items": ("prefix": "place-items",
    "values": ("start":flex-start,
      "end":flex-end,
      "center":center,
      "stretch":stretch,
    ),
  ),
  "place-self": ("prefix": "place-self",
    "values": ("auto":auto,
      "start":flex-start,
      "end":flex-end,
      "center":center,
      "stretch":stretch,
    ),
  ),
);